{% extends 'base.html.twig' %}

{% block body %}

    {% for indexName in db|default([]) %}
        <a href="{{ path('search_hybrid', {
            indexName: indexName,
        }) }}">
            <button>
                {{ indexName }}
            </button>
        </a>
    {% endfor %}


{% endblock %}
